<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar usuarios..."
                    (keyup)="search(txtTermino.value)" #txtTermino />
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando....</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>
                <h6 class="card-subtitle">Usuarios registrados en la aplicación</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Avatar</th>
                                <th>Correo</th>
                                <th>Nombre</th>
                                <th class="w100">Rol</th>
                                <th class="w100">Auth</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let user of users">
                            <tr>
                                <td class="text-center">
                                    <img [src]="user.image | convertBase64: 'image/jpeg'" *ngIf="user.image"
                                        alt="Avatar" class="avatar" />
                                    <img src="images/users/no-user.jpg" alt="Avatar" class="avatar" *ngIf="!user.image">
                                </td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.role }}</td>
                                <td>
                                    <span class="label label-danger" *ngIf="user.google">Google</span>
                                    <span class="label label-info" *ngIf="!user.google">Email</span>
                                </td>


                                <td class="text-nowrap text-center">
                                    <a href="#" data-toggle="tooltip" data-original-title="Editar"> <i
                                            class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a href="#" data-toggle="tooltip" data-original-title="Borrar"> <i
                                            class="fa fa-close text-danger"></i> </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <div *ngIf="txtTermino.value.length === 0">
                        <button (click)="changePage(-1)" class="btn btn-secondary">Anteriores</button>
                        &nbsp;
                        <button (click)="changePage(1)" class="btn btn-secondary">Siguientes</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>